body {
  background: #F6F6F6;
  font-family: 'Inter', sans-serif;
  padding: 0px;
  margin: 0px; }
  @media (prefers-color-scheme: dark) {
    body {
      background: #070609; } }
@media only screen and (max-width: 800px) {
  .hide-mobile {
    display: none; } }

nav {
  background: #F6F6F6;
  padding: 4px 24px;
  display: flex;
  justify-content: space-around; }
  @media (prefers-color-scheme: dark) {
    nav {
      background: rgba(0, 0, 0, 0.9); } }
  nav a {
    padding: 12px;
    text-align: center;
    flex: 1;
    text-decoration: none;
    color: #5C5C5C;
    border-radius: 4px;
    transition: 0.12s ease-in-out; }
    nav a:hover {
      background: rgba(0, 0, 0, 0.1); }
      @media (prefers-color-scheme: dark) {
        nav a:hover {
          background: rgba(255, 255, 255, 0.1); } }
    nav a.icon {
      padding: 0px 24px;
      flex: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      nav a.icon img {
        transition: 0.12s ease-in-out;
        width: auto;
        height: auto; }
      nav a.icon:hover {
        background: none; }
        nav a.icon:hover img {
          transform: scale(1.1); }

.container {
  background: #ffffff;
  padding: 48px;
  position: relative; }
  @media only screen and (max-width: 800px) {
    .container {
      padding: 20px; } }
  @media (prefers-color-scheme: dark) {
    .container {
      background: #070609; } }
header {
  z-index: 1;
  position: relative;
  padding-bottom: 100px; }
  @media only screen and (max-width: 800px) {
    header {
      padding-bottom: 64px; } }
  header h1 {
    font-size: 56px;
    color: black; }
    @media (prefers-color-scheme: dark) {
      header h1 {
        color: rgba(255, 255, 255, 0.9); } }
    @media only screen and (max-width: 800px) {
      header h1 {
        font-size: 40px; } }
  header h2 {
    font-size: 56px;
    color: rgba(0, 0, 0, 0.5);
    max-width: 1280px; }
    @media only screen and (max-width: 800px) {
      header h2 {
        font-size: 28px; } }
    @media (prefers-color-scheme: dark) {
      header h2 {
        color: rgba(255, 255, 255, 0.3); } }
    header h2 a {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      transition: 0.12s ease-in-out; }
      @media (prefers-color-scheme: dark) {
        header h2 a {
          color: rgba(255, 255, 255, 0.3); } }
      header h2 a:hover {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5); }
        @media (prefers-color-scheme: dark) {
          header h2 a:hover {
            border-bottom: 2px solid rgba(255, 255, 255, 0.3); } }
#blob {
  display: block;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  transform: scale(0.8); }
  #blob.blue {
    background: #0E00FF;
    width: 560px;
    height: 560px;
    top: 40px;
    right: 8%;
    opacity: 0.4;
    filter: blur(48px);
    -webkit-filter: blur(32px);
    -moz-filter: blur(32px);
    -o-filter: blur(32px);
    -ms-filter: blur(32px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='32');
    animation: bloborbit infinite 8s ease-in-out alternate; }
  #blob.pink {
    background: #FF00A0;
    width: 440px;
    height: 440px;
    top: 240px;
    filter: blur(48px);
    -webkit-filter: blur(48px);
    -moz-filter: blur(48px);
    -o-filter: blur(48px);
    -ms-filter: blur(48px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='48');
    right: 4%;
    opacity: 0.08;
    animation: bloborbit infinite 8s ease-in-out alternate; }

#work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -24px; }

.work-card {
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex: 1;
  margin: 0 24px;
  height: 400px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.12);
  transition: 0.12s ease-in-out; }
  @media (prefers-color-scheme: dark) {
    .work-card {
      color: rgba(255, 255, 255, 0.3);
      background: rgba(255, 255, 255, 0.04); } }
  .work-card:hover {
    transform: scale(1.01);
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.08); }
  .work-card .card-head {
    padding: 24px;
    z-index: 2;
    display: block;
    position: relative; }
    @media only screen and (max-width: 800px) {
      .work-card .card-head {
        padding-bottom: 8px; } }
  .work-card .callout {
    position: absolute;
    z-index: 2;
    top: 24px;
    right: 24px;
    color: #0E00FF;
    font-size: 12px;
    max-width: 80px; }
    @media (prefers-color-scheme: dark) {
      .work-card .callout {
        color: #4941d9; } }
    @media only screen and (max-width: 800px) {
      .work-card .callout {
        display: none; } }
  .work-card h3 {
    margin-top: 0px;
    margin-bottom: 8px; }
  .work-card p {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 12px;
    opacity: 0.4;
    text-shadow: 0px 1px 0px white; }
  .work-card.third {
    flex: 1; }
    @media only screen and (max-width: 800px) {
      .work-card.third {
        flex: 100%;
        margin-bottom: 40px; } }
  .work-card.double {
    flex: 2; }
    @media only screen and (max-width: 800px) {
      .work-card.double {
        flex: 100%;
        margin-bottom: 40px; } }
  .work-card .device {
    z-index: 0 !important; }
  .work-card .iphone-x {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%) scale(0.8); }
    @media only screen and (max-width: 800px) {
      .work-card .iphone-x {
        transform: translateX(-50%) scale(0.6);
        top: -60px; } }
  .work-card .macbook {
    position: absolute;
    top: -80px;
    left: 64%;
    transform: translateX(-50%) scale(0.6); }
    @media only screen and (max-width: 800px) {
      .work-card .macbook {
        left: 50%;
        transform: translateX(-50%) scale(0.46);
        top: -80px; } }
@keyframes bloborbit {
  0% {
    top: 0px;
    right: 8%;
    filter: blur(48px); }
  100% {
    top: 96px;
    right: 0%;
    filter: blur(0.1px); } }

.screenshot {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 4px 4px black; }
